.charactercontainer {
    display: flex;
    justify-content: center;
    
}

.singlecharacter {
    padding: 30px;
    cursor: pointer;
}

.wrapper {
    position: relative;
 }
 
 .wrapper .fa {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: white;
    padding: 3px;
 }

.characterimage {
    border: 1px solid grey;
    
}

.charactername {
    font-size: 18px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.message {
    margin-top: 30px;
}