.listcontainer {
    text-align: center;
}

.fa {
    font-size: 20px;
}

.fa:hover{
    cursor: pointer;
}

table {
    border-collapse: collapse;
    width: 50%;
    margin: 0 auto;
}
  
table, td {
    text-align: left;
}

td {
    height: 15px;
    padding: 2px;
    border-bottom: 1px solid #ddd;
}

tr:hover {
    background-color: #D0F5F5;
}